.appwrapper {
    min-height: 100vh;
    width: 100vw;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.contentandnav{
    position: relative;
    top:44px;
}
