.block {
    position: relative;
    height: 34px;
    width: 90%;
    border-radius: 4px;
    cursor: pointer;
}

.block a {
    position: absolute;
    width: 100%;
    text-decoration: none;
    height: 100%;
}

.block a:visited {
    color: black;
}

.block a:focus {
    color: black;
}

.flex_container {
    display: flex;
    margin-left: 4px;
    padding-top: 4px;
}

.block:hover {
    background-color: #ededed;
}

.image svg{
    width: 16px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 8px;
}
