.page {
    position: relative;
    width: 820px;
    margin: 0 auto;
    padding-top: 40px;
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .page {
        width: 100%;
        padding: 40px 40px 0;
    }
}

.chapters {
    margin-top: 50px;
}